    <div align="center" class="{{ page }}">
        <h1>{{ header }}</h1>
        <p>{{ desc }}</p>
        {# TODO fix this #}
        {# For windows #}
        <img src="{{ '..\\..\\' + img_filename.replace('/', '\\') }}" alt="Plot">
        {# For linux    <img src="{{ '../../' + img_filename }}" alt="Plot"> #}
        <p>{{ footer }}</p>
    </div>
