<!DOCTYPE html>
<meta charset="utf-8">
<style>
    .new-page {
        page-break-before: always;
    }
    table {
        border: 1px solid #eee;
        table-layout: fixed;
        width: 100%;
        margin-bottom: 20px;
    }
    th {
        font-weight: bold;
        padding: 5px;
        background: #efefef;
        border: 1px solid #dddddd;
    }
    td {
        padding: 5px 10px;
        border: 1px solid #eee;
        text-align: left;
    }
</style>
<body>
{{ content }}
</body>
